<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterDesktopAdmin.master.cs" Inherits="ecommerce_web.MasterDesktopAdmin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/Assets/icon.ico" type="image/x-icon">
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="row w-100 align-items-center">
                    <div class="col-2">
                        <a class="navbar-brand p-1">
                            <img src="/Assets/PacheTech1.png" alt="Logo" height="75" />
                             <%-- <img src="/Assets/notion.svg" alt="Logo" width="50" height="50" /> --%>
                        </a>

                    </div>

                    <div class="col-8">
                        <div class="d-flex">
                         <asp:TextBox ID="txtBuscar" CssClass="form-control me-2" placeholder="Buscar" runat="server" />

                   <asp:Button ID="btnBuscar" Text="Buscar" CssClass="btn btn-outline-info" runat="server" OnClick="btnBuscar_Click" />
                    </div>
                    </div>

                    <div class="col-2 d-flex justify-content-end">

                        <div class="dropdown text-end m-1">
                            <a href="" class="d-block text-white link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="profile_img" width="32" height="32" class="rounded-circle" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end text-small" >
                                <li>
                                    <a class="dropdown-item" href="#">Perfil</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Ajustes</a>
                                </li>
                                <li>
                                    <asp:LinkButton ID="btnLogoutMaster" runat="server" CssClass="dropdown-item" OnClick="btnLogoutMaster_Click">Volver al inicio y salir de la sesion</asp:LinkButton>
                                </li>

                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </nav>

            <div class="d-flex" style="min-height: calc(100vh - 80px);">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 180px; min-height: 100%;">
                    <span>Panel</span>
                    <hr />
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="Dashboard.aspx" class="nav-link active" aria-current="page">Dashboard</a>
                        </li>
                        <li>
                            <a href="Pedidos.aspx" class="nav-link text-white">Pedidos</a>
                        </li>
                        <li>
                            <a href="Clientes.aspx" class="nav-link text-white">Clientes</a>
                        </li>
                        <li>
                            <a href="Productos.aspx" class="nav-link text-white">Productos</a>
                        </li>
                        <%--<li>
                            <a href="AdminMetodosPago.aspx" class="nav-link text-white">Metodos de Pago</a>
                        </li>
                        <li>
                            <a href="DefaultAdmin.aspx" class="nav-link text-white">Configuracion</a>
                        </li>--%>
                    </ul>

                </div>
                <div class="flex-grow-1 p-3">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>

            </div>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function () {

            $('.select2').select2({
                width: '100%',
                tags: true,
                placeholder: '',

                templateResult: function (data) {

                    if (data.newTag) {
                        return $('<span>➕ Agregar "' + data.text + '"</span>');
                    }

                    return data.text;
                },

                createTag: function (params) {

                    var term = $.trim(params.term);

                    if (term === '') {
                        return null;
                    }

                    return {
                        id: "NEW|" + params.term,
                        text: term,
                        newTag: true
                    };
                }
            });

        });
    </script>
</body>
</html>
